<template name="hello">
  <div class="hello">
    <div class="ui stackable doubling four column grid">
      {{#each playlists}}
      <div class="column">
        <div class="ui fluid card">
          <div class="image">
            <img src="{{images.[0].url}}">
          </div>
          <div class="content">
            <div class="header">{{title}}</div>
            <div class="meta"></div>
            <div class="description">{{description}}</div>
          </div>
          <div class="extra content">
            <span class="right floated"></span>
            <span></span>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</template>
