<template name="game">
  <div class="game">
    <div class="info">
      <!-- <div class="time"><h1>{{time}}</h1></div> -->
      <div class="avatar">
        {{#if pictureUrl}}
        <img src="{{pictureUrl}}">
        {{else}}
        <i class="large material-icons">person</i>
        {{/if}}
      </div>
      <!-- <div class="score"><h1>{{rights}} / {{wrongs}}</h1></div> -->
    </div>
    <div class="row track">
      <div class="music" style="background:url({{trackCover}}) center/cover no-repeat fixed ">
        <iframe src="{{trackSrc}}"></iframe>
      </div>
      <div class="timer">
        <canvas id="days-canvas"></canvas>
        <span id="days-count"></span>
        
        <canvas id="hours-canvas"></canvas>
        <span id="hours-count"></span>
        
        <canvas id="minutes-canvas"></canvas>
        <span id="minutes-count"></span>
        
        <canvas id="seconds-canvas"></canvas>
        <span id="seconds-count"></span>
      </div>
      <div class="time">
        <h2 class="center-align right">答對：{{rights}}</h2>
        <h2 class="center-align second">{{time}}</h2>
        <h2 class="center-align wrong">答錯：{{wrongs}}</h2>
      </div>
    </div>
    <ul class="row options">
    {{#each options}}
      <li class="col s12 m12 l6 xl6 btn-large white black-text hoverable option">
        <h5 class="truncate">{{@index}}. {{name}}</h5>
      </li>
    {{/each}}
    </ul>
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large red">
        <i class="large material-icons">help</i>
      </a>
      <!-- <ul>
        <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
        <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
        <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
        <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
      </ul> -->
    </div>
    <div class="modal">
      <div class="modal-content">
        <div class="center-align avatar">
          {{#if pictureUrl}}
            <img src="{{pictureUrl}}">
          {{else}}
            <i class="large material-icons">person</i>
          {{/if}}
        </div>
        <div class="center-align results">
          <h4>{{userName}}</h4>
          <h4>答對: {{rights}}</h4>
          <h4>答錯: {{wrongs}}</h4>
          <h4>最後分數: {{score}}</h4>
        </div>
      </div>
      <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn back">回主選單</a>
        <a class="modal-action modal-close waves-effect waves-green btn again">再挑戰一次</a>
      </div>
    </div>
  </div>
</template>
