<template name="game">
  <div class="game">
    <div class="kkbox">
      音樂來源：<br />
      <img src="/img/kkbox.png" alt="" />
    </div>
    <div class="music">
      <iframe src="{{trackSrc}}"></iframe>
    </div>
    <div class="timer">
      <div class="bar">
        <div class="progress" style="width:{{width}}"></div>
      </div>
    </div>
    <div class="records">
      <div class="stars"></div>
    </div>
    <ul class="options">
    {{#each options}}
      <li class="blue darken-4 white-text hoverable animated zoomIn option">
        {{name}}
      </li>
    {{/each}}
    </ul>
    <div class="modal result">
      <div class="modal-content">
        <div class="center-align avatar">
          {{#if pictureUrl}}
            <img src="{{pictureUrl}}">
          {{else}}
            <i class="large material-icons">person</i>
          {{/if}}
        </div>
        <div class="center-align results">
          <h5>{{userName}}</h5>
          <h5><ul class="stars">{{#each corrects}}<li>{{> star correct=true}}</li>{{/each}}</ul></h5>
          <h5><ul class="stars">{{#each wrongs}}<li>{{> star correct=false}}</li>{{/each}}</ul></h5>
          <h5 class="animated infinite pulse">最後分數: {{score}}</h5>
        </div>
        <div class="center-align">
            <a class="modal-action modal-close waves-effect waves-green btn back">回主選單</a>
            <a class="modal-action modal-close waves-effect waves-green btn again">再挑戰一次</a>
          </div>
      </div>
    </div>
  </div>
</template>
