<template name="App_body">
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large blue">
      <i class="large material-icons">menu</i>
    </a>
    <ul>
      <li><a class="btn-floating exit red"><i class="material-icons">exit_to_app</i></a></li>
      <li><a class="btn-floating help green"><i class="material-icons">help_outline</i></a></li>
    </ul>
  </div>
  <div class="modal help">
    <div class="modal-content">
      <div class="center-align">
        <h4>遊戲說明</h4>
      </div>
      <div class="center-left">
        <h5>你聽的歌夠多嗎？</h5>
        <h5>想成為猜猜哥，就來猜猜歌！</h5>
        <h5>限時 60 秒，聽到旋律猜歌名！</h5>
        <p>記得點選左上角透過臉書登入，破紀錄你的名字才會上榜喔！</p>
      </div>
    </div>
  </div>
  <div class="container">
    {{> Template.dynamic template=main}}
  </div>
</template>
