@font-face {
  font-family: SentyCreamPuff;
  src: url(/font/SentyCreamPuff.ttf);
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url('/img/pexels-photo-314726.jpeg') no-repeat fixed center;
  
  .hello {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .game {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr 4fr;

    .track {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .options {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      .option {
        background-color: darkcyan;
        color: white;
        line-height: 1.6em;
        padding: 0.4em;
        width: 80%;
        font-size: 1.6em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 4px;
      }
    }
  }
}
