@font-face {
  font-family: SentyCreamPuff;
  src: url(/font/SentyCreamPuff.ttf);
}

@font-face {
  font-family: SkyScrappers;
  src: url(/font/SkyScrappers-Regular.otf);
}

body {
  .loader {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .message {
    font-family: SkyScrappers;
    -webkit-text-stroke: 1px #6d6d6d; 
    text-stroke: 1px #6d6d6d;
    font-size: 8em;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .game {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;

    .kkbox {
      position: fixed;
      left: 23px;
      bottom: 23px;
      z-index: 9999;
    }
  
    #days-canvas {
      display: none;
    }

    #days-count {
      display: none;
    }

    #hours-canvas {
      display: none;
    }

    #hours-count {
      display: none;
    }

    #minutes-canvas {
      display: none;
    }

    #minutes-count {
      display: none;
    }

    #seconds-count {
      display: none;
    }

    .info {
      display: flex;
      align-items: center;
      justify-content: center;

      .time {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .avatar {
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          border: 1px solid black;
          border-radius: 50%;
        }
      }

      .score {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .track {
      position: relative;

      .music {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-filter: blur(16px);
        filter: blur(16px);    
  
        iframe {
          visibility: hidden;
        }
      }
      .timer {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .time {
        position: absolute;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        .right {
          color: rgb(0, 162, 255);
          -webkit-text-stroke: 1px #6d6d6d; 
          text-stroke: 1px #6d6d6d;
        }
        .wrong {
          color: rgb(255, 0, 0);
          -webkit-text-stroke: 1px #6d6d6d; 
          text-stroke: 1px #6d6d6d;
        }
        .second {
          color: #FCB937;
          -webkit-text-stroke: 1px #6d6d6d; 
          text-stroke: 1px #6d6d6d;
        }
      }
    }

    .options {

      .option {
        text-align: left;
      }
    }
  }
}
