@font-face {
  font-family: SentyCreamPuff;
  src: url(/font/SentyCreamPuff.ttf);
}

body {
  .hello {
    .card-action {
      // height: 50px;
    }
  }
  .game {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;

    .info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .time {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .avatar {
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          border: 1px solid black;
          border-radius: 50%;
        }
      }

      .score {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .track {
      display: flex;
      align-items: center;
      justify-content: center;
      -webkit-filter: blur(16px);
      filter: blur(16px);    

      iframe {
        visibility: hidden;
      }
    }

    .options {

      .option {
        opacity: 0;
        text-align: left;
      }
    }
  }
}
